# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile


# Build results

\x64
\Output

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
*.builds
*.pidb
*.svclog
*.scc
*.log
*.bak
*.ipch
*.pdb


# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.bsc
*.exp
*.sbr
*.tlog
*.pkg
*.zip
*.unsuccessfulbuild
*.bi
*.suo
*.lastbuildstate
*.suo
*.db

*.xcuserstate
.DS_Store
*.fxb
*.nu
Frameworks/Platform/Mac/BuildSupport/NotarizationCredential.xcconfig
xcuserdata
*.idb
*.rar
