#include "Base.xcconfig"

INSTALL_PATH = /Library/Audio/Plug-Ins/Components
INFOPLIST_FILE = $(__BUILD_SUPPORT_PATH)/InfoAU.plist
INFOPLIST_PREFIX_HEADER = $(PROJECT_DERIVED_FILE_DIR)/VersionAU.prefix.h
INFOPLIST_PREPROCESS = YES
WRAPPER_EXTENSION = component
GCC_PREFIX_HEADER = $(__BUILD_SUPPORT_PATH)/PlatformDefinesAU.prefix.h

__AU_MANUFACTURER_4CC_Debug = NSdv
__AU_MANUFACTURER_4CC_Demo = NUsi
__AU_MANUFACTURER_4CC_Release = NUsi
_AU_MANUFACTURER_4CC = $(__AU_MANUFACTURER_4CC_$(CONFIGURATION))

_AU_DESCRIPTION = $(_PRODUCT_NAME_USER) AU
_AU_FACTORY = SymbiosisV2Factory
_AU_NAME = $(__MANUFACTURER): $(_PRODUCT_NAME_USER)
